.text-link:hover {
    text-decoration: none;
}



#PanelUI-msu-weather {
	overflow: auto;
    min-width: 215px;
}

#msu-weather-yahoo-weather-label {
    font-size: 10px;
	color: purple;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

#msu-weather-acknowledge-label {
    font-size: 10px;
	color: black;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

#msu-weather-acknowledge-holder {
    opacity: .4;
}

#msu-weather-toggle-container {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#msu-weather-customize-button {
    border: none;
    background: none;
    box-shadow: none;
}

#msu-weather-customize-button:hover { 
    border: none;
    background: none;
    box-shadow: none;
}

#msu-weather-customize-button-holder {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 5px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

#msu-weather-customize-button-holder:hover {
    border: 1px solid #D7D7D7;
    background:-moz-linear-gradient(40% 70% 90deg, #DDDDDD, #F7F7F7 50%);
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#msu-weather-add-city-button {
    color: white; 
    background-color: #18453B;
    width: 58px;
    border: 1px solid gray;
    margin: 0px;
}

#msu-weather-textbox {
    width: 140px;
    margin: 0px;
}

#msu-weather-input-holder {
    margin: 10px 0px 5px 0px;
}

#msu-weather-customize-image {
    margin: 6px;
    width: 14px;
}

#msu-weather-badge:not([badge=""]) {
    color: white;
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    outline: none;
}

#msu-weather-badge:not([badge=""])::after, #msu-weather-badge:not([badge=""])::before {
    color: white;
    background: none;
    position: relative;
    top: 8px;
    right: 3px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    outline: none;
}





.toolbarbutton-badge-container {

}

.msu-weather-city-element {
    text-align: center; 
	border: 1px solid gray; 
	margin-top: 10px; 
	box-shadow: 0px 2px 6px #888888; 
	width: 200px;
	font-weight: bold;
	background:-moz-linear-gradient(100% 100% 90deg, #202d44, #4d79bb 100%);
}

.msu-weather-city-element-primary {
	color: #e3c957;
}

.msu-weather-city-element-secondary {
	color: white;
}

.msu-weather-city-label {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: 0px 0px 0px 5px;
}

.msu-weather-city-label-holder {
    margin: 5px 0px 0px 0px;
    opacity: 1;
}

.msu-weather-city-label-holder:hover {
    opacity: 1;
}

.msu-weather-city-temp { 
    font-size: 30px; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.msu-weather-city-image {
	background-size: 100% 100%; 
	background-repeat: no-repeat;
}

.msu-weather-city-image-holder {
    border: 1px solid white;
	outline: 1px solid gray;
}

.msu-weather-toggle-button {
    background:-moz-linear-gradient(40% 60% 90deg, #999999, #CCCCCC 50%);
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    border: 1px solid gray;
	border-bottom: 1px solid white;
	box-shadow: inset 0 0 3px #444444;
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.msu-weather-toggle-button:hover {
    cursor: pointer;
}
