#msu-customize-button {
    margin-bottom: 10px; 
    box-shadow: 0px 3px 6px #888888; 
    background-color: gray; 
    color: white;
    border: 1px solid gray;
}

#msu-add-city-button {
    color: white; 
    background-color: gray; 
    /*border-radius: 7px;*/
    box-shadow: 0px 3px 6px #888888;
    border: 1px solid gray;
}

#PanelUI-msu-weather {
	overflow: scroll
}

.toolbarbutton-badge[badge]:not([badge=""]) {
    color: black;
    background: none;
    border: none;
    box-shadow: none;
}

.toolbarbutton-badge[badge]:not([badge=""])::after {
    color: #fff;
    background-color: #009ACD;
    border: 2px solid #009ACD;
    border-radius: 3px;
}

.msu-primary-element {
    text-align: center; 
	/*border-radius: 5px;*/
	border: 1px solid gray;
	background-color: #ceeeb9; 
	margin-top: 5px; 
	margin-bottom: 15px; 
	box-shadow: 0px 2px 6px #888888; 
	width: 200px;
	font-weight: bold;
}

.msu-secondary-element {
	text-align: center; 
	margin-bottom: 15px; 
	border: 1px solid gray; 
	background-color: white; 
	/*border-radius: 5px;*/ 
	box-shadow: 0px 2px 6px #888888; 
	width: 200px;
    font-weight: bold;
}

.msu-city-label {
	font-weight: bold;
	color: black;
}

.msu-city-image {
	border: 1px solid white;
	outline: 1px solid gray;
}

.msu-large-icon {
	border: solid 1px gray;
}

.msu-small-icon {
	border: none;
}